zenlontko

papers summary
Figures
*.aux
*.log
*~
*backup
bachel_thesis_part.docx
thesis_ukr.bbl
thesis_ukr.blg
thesis_ukr.lof
thesis_ukr.lot
thesis_ukr.out
thesis_ukr.synctex.gz
thesis_ukr.toc
thesis_ukr.tcp
thesis_ukr.tps
thesis_ukr.tks
thesis_ukr.dvi
thesis_ukr.ilg
thesis_ukr.nlo
thesis_ukr.nls
thesis_ukr.pdf
